<div class="container">
  <div class="row">
  	<div class="col-lg-12">
  	  <div id="content">
  	    <h1>Publish your Passions</h1>
  	    <h3>Create a unique and beautiful blog. It’s easy </h3>
  	    <hr>
  	    <%= link_to "Lets get started", posts_path, :class => 'btn btn-primary' %>
  	  </div>
  	</div>
  </div>
</div>
